@font-face {
    font-family: 'font';
    src: url('fonts/font.eot');
    src: url('fonts/font.eot?#iefix') format('embedded-opentype'),
        url('fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
